.hand-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.hand-container-wrapper {
  transform: scale(0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-height: 700px) {
  .hand-container-wrapper {
    transform: scale(0.4);
  }
} 

.hand-container > div > .card-container {
  position: absolute;
}